*{
  text-align: center;
  color: white;
}
.header{
  width: 100%;
  height: 200px;
  background-color: #3F51B5;
  color: white;
}
.nav{
  width: 100%;
  height: 2px;
  background-color: #F44336;
  color: white;
}
.slider{
  width: 100%;
  background-color: #00897B;
}
.left-column{
  height: auto;
  background-color: #FFC107;
  margin: 0;
}
.right-column{
  height: 1000px;
  background-color: #43A047;
  margin: 0;
}
.footer{
  height: 300px;
  background-color: #5D4037;
}

/*news css */
.left-column .row .column{
  height: 200px;
  width: 300px;
  background-color: #D84315;

}
.left-column .row{
padding-top: 5%;
}
