/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body{
  max-width: 100%;
  overflow-x: hidden;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
@media screen and (min-width:800px){
  .container{
    width: 88%;
  }
}

.dropdown-content{
    overflow: visible !important;
}
.dropdown-content li{
  min-height:40px;
}
.dropdown-content li a{
  padding-top: 9px;
  padding-bottom: 9px;
  color:#212121;
}
.card a{
  color:#212121;
}
