
body{
  max-width: 100%;
  overflow-x: hidden;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
@media screen and (min-width:800px){
  .container{
    width: 88%;
  }
}


/*nav*/
@media only screen and (min-width: 601px){
nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
    height: 58px;
    line-height: 58px;
}

}
.dropdown-content{
    overflow: visible !important;
}
.dropdown-content li{
  min-height:34px;
}
.dropdown-content li a{
  padding-top: 6px;
  padding-bottom: 6px;
  color:#212121;
  font-size: 15px;
}
.card a{
  color:#212121;
}
.fixed{
  position: fixed;
  top: 0;
  z-index: 100;
}
.material-icons{
  margin: 0 !important;
}
#jssor_1 , #slides{
  height: 400px;
}
/*mobile nav styles*/
#nav-mobile,#nav-mobile ul{

}
/*.side-nav>li>a{
  color:teal;
}*/
/*nav ul li.active {
  background-color: rgba(0, 0, 0, 0.1);
  color:red;
}*/
.side-nav a.active {
  /*background-color: rgba(0, 0, 0, 0.05);
  color:red;*/
color:teal;
}
/*.side-nav a.active:hover{
  background: rgba(147,206,222,1);
}*/
#nmf-title{
 font-size: 0px;
}
@media(max-width:992px){
  #nmf-title{
  font-size: 16px;
  }
}
@media(max-width:600px){
  #nmf-title{
  font-size: 14px;
  }
}
