<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../../css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col m3">
                <div class="collection">
                    <a href="about-us" class="collection-item">About Us</a>
                    <a href="history.html" class="collection-item">History</a>
                    <a href="#!" class="collection-item">Council & Sub Committee</a>
                    <a href="#!" class="collection-item active">Secretariat</a>
                    <a href="#!" class="collection-item">Member Clubs</a>
                    <a href="#!" class="collection-item">Affiliations</a>
                    <a href="#!" class="collection-item">FMSCI Accredited Academies</a>
                    <a href="#!" class="collection-item">Roll of Honour</a>
                    <a href="#!" class="collection-item">Annual Reports</a>
                    <a href="#!" class="collection-item">Audit Report</a>
                    <a href="#!" class="collection-item">Articles of Association</a>
                    <a href="#!" class="collection-item">Certificate of Incorporation</a>
                </div>
            </div>
            <div class="col m9">
                <div class="row">
                                <div class="col m3">
                                    <img class="center-align responsive-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIT7jwb-i4g13f0EZK3Cl2Zn5fAk4ERfvfZps4tTCahZALxWHq" alt="">
                                    <p class="center-align">Name</p>
                                    <p class="center-align">Role</p>
                                </div>
                                <div class="col m3">
                                    <img class="center-align responsive-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIT7jwb-i4g13f0EZK3Cl2Zn5fAk4ERfvfZps4tTCahZALxWHq" alt="">
                                    <p class="center-align">Name</p>
                                    <p class="center-align">Role</p>
                                </div>
                                <div class="col m3">
                                    <img class="center-align responsive-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIT7jwb-i4g13f0EZK3Cl2Zn5fAk4ERfvfZps4tTCahZALxWHq" alt="">
                                    <p class="center-align">Name</p>
                                    <p class="center-align">Role</p>
                                </div>
                                <div class="col m3">
                                    <img class="center-align responsive-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIT7jwb-i4g13f0EZK3Cl2Zn5fAk4ERfvfZps4tTCahZALxWHq" alt="">
                                    <p class="center-align">Name</p>
                                    <p class="center-align">Role</p>
                                </div>
                                </div>
            </div>
        </div>
    </div>

  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../../js/materialize.js"></script>
  <script src="../../js/init.js"></script>

</body>
</html>